.admin-customers-page {
    display: flex;
    min-height: 100vh;
    padding: 10%;
}

.admin-customers-container {
    margin-left: 5%;
    /* Space for the sidebar */
    padding: 20px;
    width: calc(100% - 280px);
    /* Adjust width based on sidebar */
    background: var(--primary_color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.admin-customers-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--white);
    text-align: center;
}

.customers-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.customers-table th,
.customers-table td {
    padding: 10px;
    text-align: left;
    color: var(--white);
}

.customers-table th {
    background-color: var(--primary_color);
    font-weight: bold;
    font-size: 18px;
    color: var(--white);
}

/* .customers-table tr:nth-child(even) {
    background-color: #333333;
} */

.customers-table tr:hover {
    background: rgba(255, 255, 255, 0.1);
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--white);
    transition: transform 0.3s ease;
}

.delete-btn:hover {
    transform: scale(1.2); /* Slight zoom effect */
}

.user-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.user-modal-content {
    background: var(--primary_color);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: var(--white);
}

.close-btn {
    font-size: 24px;
    cursor: pointer;
    color: var(--white);
}

.user-modal-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--white);
}

.user-modal-body label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-modal-body input,
.user-modal-body select {
    padding: 8px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.save-btn {
    padding: 10px;
    background-color: var(--secondary_color);
    color: var(--black);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.save-btn:hover {
    background-color: var(--btn_hover);
}